.contract-search {
    // background-image: url('../../../../assets/images/view-contract-background.jpg');
    // background-size: cover;
    // height: 100vh;
    max-height: calc(100vh - 98px)
}

.no-rooms {
  font-size: 60px;
  text-align: center;
  margin-top: 10%;
}
